.lds__heart {
  display: inline-block;
  height: 2rem;
  position: relative;
  text-align: center;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
  width: 2rem;
}

.lds__heart div {
  animation: lds__heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  background: rgba(252, 196, 54, 1);
  height: 200%;
  position: absolute;
  right: 0;
  width: 200%;
}

.lds__heart div:after, .lds__heart div:before {
  background: rgba(252, 196, 54, 1);
  content: ' ';
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}

.lds__heart div:before {
  border-radius: 50% 0 0 50%;
  left: -70%;
}

.lds__heart div:after {
  border-radius: 50% 50% 0 0;
  top: -70%;
}

@keyframes lds__heart {

  0% {
    transform: scale(0.95);
  }

  5% {
    transform: scale(1.1);
  }

  39% {
    transform: scale(0.85);
  }

  45% {
    transform: scale(1);
  }

  60% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(0.9);
  }
}
