.title {
  color: #41197f;
  font-family: Epilogue , sans-serif;
  font-size: 2.8rem;
  font-style: italic;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 20px;
  margin: 2% 0 7%;
  padding: 5% 0 0;

  /* identical to box height */
  text-align: center;
  text-transform: uppercase;
}

.inputs {
  border: 0.5px solid #41197f;
  border-radius: 5px;
  box-sizing: border-box;
  height: 5vh;
  margin: 5px;
  width: 90%;
}

.submit__btn {
  background: #fcc436;
  border-radius: 5px;
  color: white;
  font-family: Epilogue , sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  height: 5vh;
  letter-spacing: 0.03em;
  line-height: 14px;
  margin-top: 10px;
  padding: 8px;
  text-align: center;
  text-transform: uppercase;
  width: 90%;
}

.input__btn__div {
  align-items: center;
  background-color: white;
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: 50%;
  max-width: 1024px;
  position: absolute;
  width: 100%;
}

.logo__div {
  background-color: rgb(50, 50, 50);
  display: flex;
  flex-direction: column;
  height: 50%;
  max-width: 1024px;
  position: absolute;
  top: 0;
  width: 100%;
}

.img__logo {
  align-self: center;
  height: 80%;
  margin: 5% 0;
  width: 60vw;
}

.img__tomato {
  width: 30%;
}

@media ( max-width : 500px ) {

  .title {
    margin-top: 20%;
  }

}
