.recipe__container {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  max-width: 1024px;
}

.input__divs {
  align-items: center;
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin: 1%;
  max-width: 1024px;
  width: 100%;
}

.img__container {
  background: white;
  border: 0.517px solid #b1b1b1;
  border-radius: 5px;
  box-shadow: 0 0 0 0.8px;
  display: inline-block;
  margin: 0 5px 10px;
  text-align: center;
  width: 40%;
}

.img__input {
  margin: 3% 0;
  width: 5rem;

}

.footer__container {
  background-color: rgba(65, 25, 127, 1);
  bottom: 0;
  display: flex;
  height: 10%;
  justify-content: space-between;
  max-width: 1024px;
  position: fixed;
  text-align: center;
  width: 100%;
}

.footer__input {
  filter: invert(90%) sepia(11%)
    saturate(3754%) hue-rotate(330deg) brightness(105%) contrast(98%);
  height: 3rem;
  margin: 1.5rem 1rem;
  width: 12rem;
}

@media ( max-width : 500px ) {

  /* .img__input {
    height: 3.5rem;
    width: 4rem;
  } */

  .footer__input {
    height: 2rem;
    margin-top: 1rem;
  }
}
